<!doctype html>

<html>
  <head>
    {{! -------- }}
    <meta charset='utf-8' />
    
    {{! -------- }}
    {{#is "home"}}
    <title>Home | {{@blog.title}}</title>
    {{else}}
    <title>{{meta_title}} | {{@blog.title}}</title>
    {{/is}}

    <meta name='description' content='{{meta_description}}' />

    {{! -------- }}
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='shortcut icon' href='{{asset "favicon.png"}}'>

    {{! -------- }}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    {{! reset }}
    <link rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' />

    {{! normalize }}
    <!-- <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css' /> -->

    {{! sanitize}}
    <!-- <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.css' /> -->

    {{! highlight.js }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/monokai.min.css">
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/docco.min.css"> -->
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/kimbie.light.min.css"> -->
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/solarized_light.min.css"> -->
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/tomorrow.min.css"> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>

    {{! jquery}}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    
    {{! font-awesome }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {{! -------- }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    {{! mario }}
    <script src='{{asset "plugins/mario/mario.js"}}'></script>

    {{! -------- }}
    {{ghost_head}}

    {{! meta for hatebu }}
    <rdf:RDF
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:foaf="http://xmlns.com/foaf/0.1/">
    <rdf:Description rdf:about="{{url absolute=true}}">
    <foaf:maker rdf:parseType="Resource">
    <foaf:holdsAccount>
    <foaf:OnlineAccount foaf:accountName="phiary">
    <foaf:accountServiceHomepage rdf:resource="http://www.hatena.ne.jp/" />
    </foaf:OnlineAccount>
    </foaf:holdsAccount>
    </foaf:maker>
    </rdf:Description>
    </rdf:RDF>

    {{! web font }}
    <!--
    <style>
      @font-face {
        font-family: 'さわらびゴシック';
        src: url({{asset "font/sawarabi-gothic/sawarabi-gothic-medium.ttf"}});
      }

      body {
        font-family: 'さわらびゴシック';
      }
    </style>
  -->
    
  </head>
  <body>
    <div class='side'>
      <div class='cover'>
        <div class='profile'>
          <a href='http://twitter.com/phi_jp' target='_blank'>
            <img src='{{asset "img/phi.jpg"}}' />
          </a>
          <h1>phi</h1>
          <p>
            I'm a Game Programmer and Frontend Engineer
            passionate about programming education.
          </p>
          <p>
            Math / C / C++ / C# / JavaScript / HTML5 / CSS3 / Python
          </p>
        </div>
      </div>
    </div>
    
    <div class='main'>
      <header id='header'>
        <div class='container'>
          <div class='row'>
            <div class='col s12 m6 l6 title'>
              <h1>
                <a href='{{@blog.url}}'>{{@blog.title}}</a>
              </h1>
              <p>{{@blog.description}}</p>
            </div>
            <div class='col s12 m6 l6 share'>
              <a target='_blank' href='http://feedly.com/i/subscription/feed/{{url absolute=true}}rss' class='btn-circle'>
                <img src='http://s3.feedly.com/img/follows/feedly-follow-logo-black_2x.png' width='20px' height='20px' />
              </a>
              
              <a target='_blank' href='{{@blog.url}}/rss/' class='btn-circle'>
                <i class="fa fa-rss"></i>
              </a>
              <a target='_blank' href='http://twitter.com/phi_jp' class='btn-circle'>
                <i class="fa fa-twitter"></i>
              </a>
              <a target='_blank' href='https://github.com/phi-jp' class='btn-circle'>
                <i class="fa fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </header>

      <div class='content'>
        {{{body}}}
      </div>

      <footer id='footer'>
        <div class='container'>
          <div class='row'>
            <ul class='col s12'>
              <li><a href=''>About</a></li>
              <li><a href=''>Tags</a></li>
              <li><a target='_blank' href='{{@blog.url}}/rss/'>Feed</a></li>
            </ul>
            <!--
            <div class='col s6'>
              copy ...
            </div>
            -->
          </div>
        </div>
      </footer>
    </div>

    {{ghost_foot}}

    {{! -------- }}
    <script src='{{asset "js/main.js"}}'></script>

  </body>
</html>