<!doctype html>

<html>
  <head>
    {{! -------- }}
    <meta charset='utf-8' />
    
    {{! -------- }}
    <title>{{meta_title}}</title>
    <meta name='description' content='{{meta_description}}' />

    {{! -------- }}
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='shortcut icon' href='{{asset "favicon.ico"}}'>

    {{! -------- }}
    <link rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    {{! -------- }}
    {{ghost_head}}
  </head>
  <body>
    <header id='header'>
      <div class='container'>
        <h1>
          <a href='#'>{{meta_title}}</a>
        </h1>
        <p>{{meta_description}}</p>
        <div class='clearfix'></div>
      </div>
    </header>

    <div class='main'>
      {{{body}}}
    </div>
  </body>
</html>