<!doctype html>

<html>
  <head>
    {{! -------- }}
    <meta charset='utf-8' />
    
    {{! -------- }}
    <title>{{meta_title}} | {{@blog.title}}</title>
    <meta name='description' content='{{meta_description}}' />

    {{! -------- }}
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='shortcut icon' href='{{asset "favicon.ico"}}'>

    {{! reset }}
    <link rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' />

    {{! -------- }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/monokai.min.css">
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/docco.min.css"> -->
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/kimbie.light.min.css"> -->
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/solarized_light.min.css"> -->
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/tomorrow.min.css"> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>

    {{! -------- }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    {{! -------- }}
    <script src='{{asset "js/main.js"}}'></script>

    {{! -------- }}
    {{ghost_head}}
  </head>
  <body>
    <header id='header'>
      <div class='container'>
        <div class='row'>
          <h1 class='col'>
            <a href='{{@blog.url}}'>{{@blog.title}}</a>
          </h1>
          <p class='col'>{{@blog.description}}</p>
        </div>
      </div>
    </header>

    <div class='main'>
      {{{body}}}
    </div>

    <footer id='footer'>
      <div class='container'>
        <div class='row'>
          <ul class='col s6'>
            <li>About</li>
            <li>Tags</li>
            <li>Feed</li>
          </ul>
          <div class='col s6'>
            copy ...
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>