{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{#post}}

<main id='content' class='content' role='main'>
  <div class='container'>
    <article class='{{post_class}}'>
      <header>
        <h2 class='title'>{{title}}</h2>
        <div class='meta'>
          {{#if author.image}}
          <img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />
          {{/if}}
          <span>{{author}}</span>
          <span>{{tags prefix=" on "}}</span>
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </div>
        <div class='share'>
          <a target='_blank' href='http://twitter.com/intent/tweet?text={{title}}&url={{url absolute="true"}}&hashtags=phiary&via=phi_jp' class='btn-circle'><i class="fa fa-twitter"></i></a>
          <a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}' class='btn-circle'><i class="fa fa-facebook"></i></a>
          <a target='_blank' href='http://b.hatena.ne.jp/entry/{{url absolute="true"}}' class='btn-circle'>B!</a>
          <a target='_blank' href='https://getpocket.com/edit?url={{url absolute="true"}}' class='btn-circle'><i class="fa fa-get-pocket"></i></a>
          <a target='_blank' href='https://plus.google.com/share?url={{url absolute="true"}}' class='btn-circle'><i class="fa fa-google-plus"></i></a>
        </div>
      </header>
      <section>
        {{content}}
      </section>

      <footer>
        <div class='share'>
          <a target='_blank' href='http://twitter.com/intent/tweet?text={{title}}&url={{url absolute="true"}}&hashtags=phiary&via=phi_jp' class='btn-circle'><i class="fa fa-twitter"></i></a>
          <a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}' class='btn-circle'><i class="fa fa-facebook"></i></a>
          <a target='_blank' href='http://b.hatena.ne.jp/entry/{{url absolute="true"}}' class='btn-circle'>B!</a>
          <a target='_blank' href='https://getpocket.com/edit?url={{url absolute="true"}}' class='btn-circle'><i class="fa fa-get-pocket"></i></a>
          <a target='_blank' href='https://plus.google.com/share?url={{url absolute="true"}}' class='btn-circle'><i class="fa fa-google-plus"></i></a>
        </div>
      </footer>
    </article>
  </div>
</main>

<aside class='read-next'>
  <div class='container'>
    <div class='row'>
      <div class='col s5 next'>
        {{#next_post}}
        <h2>
          ←<a href='{{url}}'>{{title}}</a>
        </h2>
        {{/next_post}}
      </div>
      <div class='col s2'>　</div>
      <div class='col s5 prev'>
        {{#prev_post}}
        <h2>
          <a href='{{url}}'>{{title}}</a>→
        </h2>
        {{/prev_post}}
      </div>
    </div>
  </div>
</aside>


{{/post}}